{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-md-8 text-center intro-content">
            <h1 style="margin: 10px auto;">Welcome {{ user }} </h1>
            <h6 style="margin-bottom: 20px;">We have the following drinks for you</h4>
                <hr>
                <div class="row">
                    {% for drink in drink_types %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ drink.name }}</h5>
                                <hr>
                                <p style="background-color: rgb(235, 233, 233);" class="card-text">{{ drink.description }}</p>
                                <div class="card-footer">Ksh:{{ drink.price }} Only</div>
                                <a href="#" class="btn btn-primary btn-sm">Check it out</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}