{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-md-8 text-center intro-content">
                <div class="row">
                    {% for item in pagination.items %}
                    <h1 style="margin: 10px auto;"> {{ item.type.upper() }}S</h1>
                    <h6 style="margin-bottom: 20px;">We have the following drinks for you</h4>
                    <div class="card-group">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <hr>
                                <p style="background-color: rgb(235, 233, 233);" class="card-text">{{ item.description
                                    }}</p>
                                <div class="card-footer" style="bottom: 2px;">
                                    <span>Ksh:{{ item.price }} Only</span>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm">Check it out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% for item in pagination.items %}
                <div class="pagination pagination-sm justify-content-center">
                    {% if pagination.has_prev %}
                    <span>
                        <a class="page-link" href="{{ url_for('main.drink_type', page=pagination.prev_num, liquor_type= item.type ) }}">&laquo;</a>
                    </span>
                    {% else %}
                    <span class="page-item disbled">
                        <a class="page-link">&laquo;</a>
                    </span>
                    {% endif %}
                    {% for number in pagination.iter_pages() %}
                    {% if pagination.page != number %}
                    <span>
                        <a class="page-link" href="{{ url_for('main.drink_type', page=number, liquor_type= item.type) }}">{{ number }}</a>
                    </span>
                    {% else %}
                    <span class="page-link page-item active">{{ number }}</span>
                    {% endif %}
                    {% endfor %}
                    {% if pagination.has_next %}
                    <span>
                        <a class="page-link" href="{{ url_for('main.drink_type', page=pagination.next_num, liquor_type= item.type) }}">&raquo;</a>
                    </span>
                    {% else %}
                    <span class="page-item disbled">
                        <a class="page-link">&raquo;</a>
                    </span>
                    {% endif %}
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
